@charset "UTF-8";
body {
  color: #212121;
  font-family: Roboto, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

ul,
h1,
h2,
h3,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    min-width: 1200px;
    padding: 94px 0;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.section-title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-container {
  width: 100vw;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .section-container {
    width: 480px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .section-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section-container {
    width: 1200px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 16px 0;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu-btn__icon {
  fill: currentColor;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.mobile-menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 3px 3px;
  margin-left: auto;
  border: none;
  background-color: #fff;
}

.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  color: #2196f3;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  outline: 1px solid #fff;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--footer {
  color: #fff;
  outline-color: #2f303a;
}

.logo:focus {
  outline-color: #2196f3;
  border-radius: 4px;
}

.logo--footer:focus {
  outline-color: #fff;
}

.logo__accent {
  color: #2196f3;
}

.nav {
  margin-left: 88px;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

.section-container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
  outline: none;
}

.nav__link--current {
  position: relative;
  color: #2196f3;
}

.nav__link--current::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  background-color: #2196f3;
  top: 44px;
  left: 0;
  width: 100%;
  height: 4px;
}

@media screen and (min-width: 1200px) {
  .nav__link--current::after {
    top: 45px;
  }
}

.contacts {
  margin-left: 84px;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 300px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__icon {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
  -webkit-transform: translateY(-101%);
          transform: translateY(-101%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu-container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile-menu-close-btn__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms;
  transition: fill 250ms;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 3px 3px;
  border: none;
  background-color: #fff;
}

.mobile-menu-close-btn:hover, .mobile-menu-close-btn:focus {
  color: #2196f3;
  outline: none;
  cursor: pointer;
}

.mobile-nav__item {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: calc(1vw * 8.33);
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

@media screen and (min-width: 480px) {
  .mobile-nav__link {
    font-size: 40px;
  }
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #2196f3;
  outline: none;
}

.mobile-nav__link--current {
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 64px;
  margin-top: auto;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: calc(1vw * 5);
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: 250ms;
  transition: 250ms;
}

@media screen and (min-width: 480px) {
  .mobile-contacts__link {
    font-size: 24px;
  }
}

.mobile-contacts__link.phone {
  font-size: calc(1vw * 7.08);
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-contacts__link.phone {
    font-size: 34px;
  }
}

.mobile-contacts__link:hover, .mobile-contacts__link:focus {
  color: #2196f3;
  outline: none;
}

.mobile-sm-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-sm-list__item:not(:first-child) {
  position: relative;
  margin-left: 4vw;
}

.mobile-sm-list__item:not(:first-child)::before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 22px;
  left: calc(-2vw - 1px);
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-sm-list__link {
  font-weight: 500;
  font-size: 3.75vw;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

@media screen and (min-width: 480px) {
  .mobile-sm-list__link {
    font-size: 18px;
  }
}

.mobile-sm-list__link:focus {
  border-color: #2196f3;
  outline: none;
}

.hero {
  max-width: 1600px;
  width: 100vw;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background-mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background-mobile@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-mobile@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-tablet.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-tablet@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-desktop.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 5.42vw;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-weight: 700;
  font-size: 3.33vw;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  outline: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .hero__btn {
    font-size: 16px;
  }
}

.hero__btn:hover, .hero__btn:focus {
  outline: 1px solid #fff;
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.features__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin-left: 30px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__icon-container {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1200px) {
  .about {
    display: none;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.about__item:not(:first-child) {
  margin-left: 30px;
}

.about__item-container {
  position: relative;
}

.about__item-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  width: calc(100vw - 30px);
}

@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin-left: 30px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__item-description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team__item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: #757575;
}

.team .sm-list__link {
  color: #afb1b8;
}

.sm-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sm-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-list__link:hover, .sm-list__link:focus {
  background-color: #2196f3;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-list__link:hover .sm-list__icon,
.sm-list__link:focus .sm-list__icon {
  fill: #fff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-list__item:not(:first-child) {
  margin-left: 10px;
}

.sm-list__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  margin-left: 30px;
  margin-bottom: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50vw - 30px);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: currentColor;
}

.portfolio [type="radio"] {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filters-list__item {
  margin-left: 8px;
  margin-bottom: 15px;
}

.filters-list__label {
  display: inline-block;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list__label:hover {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio [value="web-site"]:checked ~ .works-list .works-list__item:not([data-categoty="Веб-сайт"]),
.portfolio [value="application"]:checked ~ .works-list .works-list__item:not([data-categoty="Приложение"]),
.portfolio [value="design"]:checked ~ .works-list .works-list__item:not([data-categoty="Дизайн"]),
.portfolio [value="marketing"]:checked ~ .works-list .works-list__item:not([data-categoty="Маркетинг"]) {
  display: none;
}

.portfolio [value="all"]:checked ~ .filters-list [for="all"],
.portfolio [value="web-site"]:checked ~ .filters-list [for="web-site"],
.portfolio [value="application"]:checked ~ .filters-list [for="application"],
.portfolio [value="design"]:checked ~ .filters-list [for="design"],
.portfolio [value="marketing"]:checked ~ .filters-list [for="marketing"] {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list {
  margin-top: 40px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .works-list {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .works-list {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .works-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.works-list__item {
  border: 1px solid #eee;
  width: calc(100vw - 30px);
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .works-list__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .works-list__item {
    width: 354px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .works-list__item {
    width: 370px;
  }
}

.works-list__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.works-list__item:hover .works-list__img-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.works-list__img-container {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-list__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 23px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list__img-overlay-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
}

.works-list__item-description {
  padding: 20px 0 20px 24px;
}

.works-list__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list__item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.footer {
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px 0;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__logo-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__logo-address {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.logo--footer {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__logo-address-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo-address-sm {
    margin-bottom: 0;
  }
}

.footer-sm {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-sm {
    margin-left: 21.5vw;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sm {
    margin-bottom: 0;
    margin-left: 70px;
    padding-top: 12px;
  }
}

.footer-sm__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-sm__title {
    text-align: left;
  }
}

.sm-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.address {
  font-style: normal;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    padding-right: 15px;
  }
}

.address__item {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address__item {
    text-align: left;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--contact {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .signup {
    margin-left: 93px;
    padding-top: 12px;
  }
}

.signup__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .signup__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .signup__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.signup__input {
  width: calc(100vw - 30px);
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: #2f303a;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .signup__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .signup__input {
    width: 358px;
    margin: 0;
  }
}

.signup__input:focus {
  border-color: #fff;
  color: #fff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup__btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin: auto;
  padding: 10px 28px;
  background-color: #2196f3;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  outline: 1px solid #2f303a;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .signup__btn {
    margin: 0;
    margin-left: 12px;
  }
}

.signup__btn:hover, .signup__btn:focus {
  outline: 1px solid #fff;
  background-color: #188ce8;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: calc(100vw - 30px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: inherit;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.modal__close-btn:hover {
  color: #2196f3;
}

.modal__close-btn-icon {
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .request-form__title {
    line-height: 1.15;
  }
}

.request-form__item {
  position: relative;
  margin-top: 28px;
}

.request-form__label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__input {
  width: 100%;
  height: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.request-form__input:focus {
  border-color: #2196f3;
  outline: none;
}

.request-form__input:focus + .request-form__icon {
  fill: #2196f3;
}

.request-form__input:focus ~ .request-form__label {
  color: #2196f3;
}

.request-form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__textarea {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 118px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.request-form__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.request-form__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.request-form__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.request-form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .request-form__textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .request-form__textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .request-form__textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .request-form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.request-form__textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.request-form__textarea:focus ~ .request-form__label {
  color: #2196f3;
}

.request-form__item-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .request-form__item-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.request-form__item-agreement a {
  color: #2196f3;
  text-decoration: underline;
}

.request-form__item-agreement a:focus {
  outline: 1px solid #2196f3;
  border-radius: 3px;
}

.request-form__checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.request-form__checkbox:checked + .request-form__checkbox-icon {
  background-color: #2196f3;
  border: 1px solid #2196f3;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__checkbox:focus + .request-form__checkbox-icon {
  border: 1px solid #2196f3;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  background-color: #fff;
  margin-right: 7px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__submit-btn {
  display: block;
  width: 200px;
  height: 50px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-form__submit-btn:hover, .request-form__submit-btn:focus {
  outline: none;
  background-color: #188ce8;
  border-color: #212121;
}
/*# sourceMappingURL=main.css.map */