.footer {
	background-color: $backgroundColor;

	@media screen and (min-width: 1200px) {
		padding: 60px 0;
	}
}
.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 1200px) {
		flex-direction: row;
		align-items: flex-start;
	}
}
.footer__logo-address {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 1200px) {
		align-items: flex-start;
	}
}
.logo--footer {
	margin-bottom: 20px;
}

.footer__logo-address-sm {
	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: center;
		margin-bottom: 60px;
	}
	@media screen and (min-width: 1200px) {
		margin-bottom: 0;
	}
}

.footer-sm {
	margin-bottom: 60px;

	@media screen and (min-width: 768px) {
		margin-left: 21.5vw;
		margin-bottom: 0;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 0;
		margin-left: 70px;
		padding-top: 12px;
	}
}
.footer-sm__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-align: center;
	@media screen and (min-width: 1200px) {
		text-align: left;
	}

	color: $inverseColor;

	margin-bottom: 20px;
}

.sm-list__link--footer {
	background-color: rgba(255, 255, 255, 0.1);
}
