.header {
	position: sticky;
	z-index: 1;
	top: 0;

	padding: 16px 0;

	background-color: $inverseColor;

	border-bottom: 1px solid #ececec;

	@media screen and (min-width: 768px) {
		padding: 21px 0;
	}

	@media screen and (min-width: 1200px) {
		padding: 25px 0;
	}
}

.header-container {
	display: flex;
	align-items: center;
}

.mobile-menu-btn__icon {
	fill: currentColor;
	transition: 250ms;
}
.mobile-menu-btn {
	display: flex;
	align-self: center;
	padding: 3px 3px;

	margin-left: auto;
	border: none;
	background-color: #fff;

	&:hover,
	&:focus,
	&:active {
		color: $accentColor;
		outline: none;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}

	@media screen and (min-width: 768px) {
		display: none;
	}
}
